body {
    background: black;
    font-family: "Dancing Script", cursive;
  }
  
  h1 {
    color: yellow;
    /* font-family: Calibri; */
    font-size: xx-large;
  }
  
  p {
    color: white;
    /* font-family: Calibri; */
    font-size: medium;
  }